<!-- <div cdkDropListGroup class="container-parent">

    <div class="header"></div>

    <div class="body">
        <div class="container">
            <h2>To Do</h2>
            <div
                cdkDropList
                [cdkDropListData]="todoData"
                class="list"
                (cdkDropListDropped)="drop($event)">
                <div class="box" *ngFor="let item of todoData" cdkDrag>
                    <span>{{item}}</span>
                    <div class="buttons">
                        <mat-icon>edit</mat-icon>
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <h2>On Doing</h2>
            <div
                cdkDropList
                [cdkDropListData]="onDoingData"
                class="list"
                (cdkDropListDropped)="drop($event)">
                <div class="box" *ngFor="let item of onDoingData" cdkDrag>
                    <span>{{item}}</span>
                    <div class="buttons">
                        <mat-icon>edit</mat-icon>
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <h2>Done</h2>
            <div
                cdkDropList
                [cdkDropListData]="doneData"
                class="list"
                (cdkDropListDropped)="drop($event)">
                <div class="box" *ngFor="let item of doneData" cdkDrag>
                    <span>{{item}}</span>
                    <div class="buttons">
                        <mat-icon>edit</mat-icon>
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: #cddfe981;height: 93vh;padding-top: 1rem;">
            <div>
                <mat-card>
                    <form>
                        <mat-form-field appearance="outline">
                            <mat-label>Task Name</mat-label>
                            <input matInput>
                            <mat-icon matSuffix>article</mat-icon>
                            <mat-hint>Add New Task To Your Todo List !</mat-hint>
                        </mat-form-field>
                        <button mat-flat-button type="button" color="primary">Add Task</button>
                    </form>
                </mat-card>
            </div>
        </div>

        <div class="col-md-9">

        </div>
    </div>
</div>